#race {
  text-align: center;
  background-color: #242021;
}

h1,
h2,
h3 {
  color: #a2a2a2;
}

h3 {
  font-size: 25px;
}

h2 {
  font-size: 35px;
}

h1 {
  font-size: 50px;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:active:focus,
.btn-default:visited,
.btn-default:focus {
  color: white;
  background-color: #242021;
  outline: none;
  width: inherit;
}

.btn1 {
  margin-right: 20px;
}

.img-track {
  width: 100%;
  height: 40vh;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.car1 {
  top: 0;
  position: absolute;
  width: 150px;
  left: 0;
}

.car2 {
  top: 0;
  position: absolute;
  width: 150px;
  left: 0;
  margin-top: 135px;
}

.h-1 {
  text-align: left;
  margin-left: 300px;
  width: fit-content;
}

.h-3 {
  margin: 0;
  margin-bottom: 70px;
}

p {
  margin-bottom: 0;
}

.timer {
  color: white;
  position: absolute;
  margin-top: 80px;
  margin-left: 50%;
}

.img2 {
  position: absolute;
  margin-left: 40%;
  margin-top: 3%;
  display: none;
  z-index: 1;
}

table td {
  border: 1px solid white;
  padding: 6px;
  font-size: 22px;
  color: white;
}

table {
  width: 100%;
}

table th {
  text-align: center;
  font-size: 30px;
  color: white;
}

.tb-3:before {
  line-height: 4em;
  content: "\200C";
  display: block;
}

#race {
  overflow-x: hidden;
}

.col-md-6 {
  margin-top: -55px;
}

.h-1 {
  margin-left: 300px;
  text-align: left;
}

.span2 {
  color: #ba0000;
  font-weight: bold;
  font-size: 24px;
}

.span1 {
  color: #ffebf7;
  font-weight: bold;
  font-size: 24px;
}

.th-car1 {
  color: #ffebf7;
}

.th-car2 {
  color: #ba0000;
}

@media only screen and (max-width: 768px) {
  .h-1 {
    margin-left: 140px;
    font-size: 30px;
  }

  table th {
    font-size: 20px;
  }

  .th-1 {
    font-size: 14px;
  }

  .tbody-result:before {
    line-height: 3em;
    content: "\200C";
    display: block;
  }

  .col-md-6 {
    margin-top: -38px;
  }

  .img2 {
    width: 160px;
    margin-top: 8%;
  }

  .car1 {
    width: 110px;
    top: 10px;
  }

  .car2 {
    width: 110px;
    margin-top: 130px;
  }
}

